.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  width: fit-content;
  min-width: 25%;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-color: white;
  padding: 1.5rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 100;
  animation: slide-down 300ms ease-out forwards;
}

/* @media (min-width: 768px) {
  .modal {
    transform: translate(-50%, -50%);
  }
} */

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
