.donor-heading-1{
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #3C4048;
    margin-bottom: 5px;
    padding-left: 2px;
    height: 50px;
    line-height: 50px;
}

.donor-text{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #3C4048;
    margin-bottom: 15px;
    padding-left: 2px;
    padding: 0 200px 0 200px;
}

.donor-line{
    height: 2px;
    width: 150px;
    background-color: #075233 ;
    margin-bottom: 15px;
}